@import "tailwindcss";

* {

    box-sizing: border-box;
    overflow: hidden;
    
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    

}
.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; /* for desktop-like clickable icon */
  width: 80px; /* adjust size */
}


.items-name {
  margin-top: 8px; /* spacing below icon */
  font-size: 14px;
  color: white;
  text-align: center;
  word-break: break-word; /* handle long names */
  user-select: none; /* prevent text selection, desktop feel */
}


.items-folder {
    font-size: 100px;
    color: #2D89EF;
}

.items-doc {
    font-size: 100px;
    color: #D44638;
}

.items-app {
    font-size: 100px;
    color: #F39C12;
}

.items-media {
    font-size: 100px;
    color: #4CAF50;
}